# Lecture 02의 데모

### Lecture 02에서의 데모 코드

참고자료: https://github.com/data-8/materials-sp22/blob/main/lec/lec03.ipynb

In [1]:
import os
from google.colab import drive

drive.mount('/content/gdrive')

%cd /content/gdrive/MyDrive/ITEC419-fa22/lec

Mounted at /content/gdrive
/content/gdrive/MyDrive/ITEC419-fa22/lec

In [2]:
%pwd

'/content/gdrive/MyDrive/ITEC419-fa22/lec'

## Python Arithmetic ##

이 내용은 9월 7일 수업 내용입니다.

In [3]:
hours_per_week = 7 * 24

In [4]:
hours_per_week

168

In [5]:
hours_per_week = 555555

In [6]:
8/9

0.8888888888888888

In [7]:
2 + 3 * 5

17

In [8]:
'hello'

'hello'

In [9]:
'Introduction to Data Science'

'Introduction to Data Science'

## Names ##

In [ ]:
a = 2
a

2

In [ ]:
b = 3
a * b

6

In [ ]:
total = a + b
total

5

In [ ]:
a = 5
total

5

In [ ]:
a = a + 1
a

9

### Why Names?

In [ ]:
# Option 1
8 * 9160

73280

In [ ]:
5 * 8 * 52 / 12

173.33333333333334

In [ ]:
8 * 52 / 12

34.666666666666664

In [ ]:
(5 * 8 + 8) * 52 * 9160

22863360

On August 5, 2021, the Ministry of Employment and Labor announced the minimum wage applied in 2022 as an hourly wage of 9,160 won.

In [10]:
# Option 2
# 숫자가 지칭하는것이 무엇인지 분명히함으로서 알아보기 쉽도록한다.
hourly_minimum_wage = 9160
hours_per_week = 5 * 8
weeks_per_year = 52
months_per_year = 12
paid_vacation_hours_per_week = 8

In [ ]:
hours_per_month = hours_per_week * weeks_per_year / months_per_year
print(hours_per_month)
hours_per_month = int(hours_per_month + 1)
hours_per_month

173.33333333333334

174

In [ ]:
paid_vacation_hours_per_month = paid_vacation_hours_per_week * weeks_per_year / months_per_year
print(paid_vacation_hours_per_month)
paid_vacation_hours_per_month = int(paid_vacation_hours_per_month + 1)
paid_vacation_hours_per_month

34.666666666666664

35

In [ ]:
monthly_wages = (hours_per_month + paid_vacation_hours_per_month) * hourly_minimum_wage
monthly_wages

1914440

In [ ]:
yearly_wages = monthly_wages * months_per_year
yearly_wages

22973280

## Functions and Call Expressions

In [ ]:
abs(1 - 5)

4

In [12]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

int

In [ ]:
round(1234.5678, ndigits=1)

1234.6

In [ ]:
round?

In [ ]:
import math as m

In [ ]:
m.sqrt(4)

2.0

## Tables ##

In [14]:
# Table을 관리하는 package가 담겨있는 datascience 라이브러리
from datascience import *

In [23]:
# Table.read_table(파일 이름)로 파일에서 가져와 테이블을 구성
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [24]:
# show(보여줄 행의 개수)
cones.show(2)

In [25]:
# t.select(label)은 특정행을 추출하여 새로운 테이블 구성
cones.select('Color')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [26]:
# t.drop(label)은 특정행을 삭제한 새로운 테이블 보여줌
# 주의! 대입하지않고 cones.drop('Price')를 하고 다시 cones 출력하면 원래대로 나옴
cones = cones.drop( 'Price')

In [27]:
cones

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [29]:
cones = Table.read_table('cones.csv')

In [30]:
# t.sort(label, descending=False 또는 True) 행을 정렬하여 테이블 구성
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [32]:
# t.where(label, condition) label에 조건에 해당하는 행만 뽑아서 테이블을 구성
cones.where('Flavor','chocolate').sort('Price')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

### A more interesting table

In [33]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

rank | name             | position | team                   | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)

**Discussion question**: Create a table of just the point guards in the 2020 season?

In [34]:
# 이런식으로 where문을 두번 사용해서 데이터를 뽑을 수도 있음
point_guards = nba.where('position', 'PG').where('season', 2020)
point_guards

rank | name              | position | team                   | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors  | 40231758 | 2020
2    | Chris Paul        | PG       | Oklahoma City Thunder  | 38506482 | 2020
3    | Russell Westbrook | PG       | Houston Rockets        | 38506482 | 2020
4    | John Wall         | PG       | Washington Wizards     | 38199000 | 2020
8    | Kyle Lowry        | PG       | Toronto Raptors        | 34996296 | 2020
14   | Kemba Walker      | PG       | Boston Celtics         | 32742000 | 2020
16   | Mike Conley       | PG       | Utah Jazz              | 32511624 | 2020
17   | Kyrie Irving      | PG       | Brooklyn Nets          | 31742000 | 2020
21   | Damian Lillard    | PG       | Portland Trail Blazers | 29802321 | 2020
52   | Malcolm Brogdon   | PG       | Indiana Pacers         | 20000000 | 2020
... (72 rows omitted)